main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }
header{
  width: 100%;
  border: 1px solid black;
}

.language{
  color: black;
}

.Info{
  border: 1px solid black;
}

#personalInfo{
  float: left;
  width: 20%;
}

#workInfo{
  float: right;
  width: 80%;
}