<main>
  <header>
    <h1>My CV</h1>
    <label for="Select language"></label>
    <mat-radio-group aria-label="Select language">
      <mat-radio-button value="Pol">Polski</mat-radio-button>
      <mat-radio-button value="Eng">English</mat-radio-button>
    </mat-radio-group>
  </header>
  <div id="personalInfo">
    <img src="" alt="YourPhoto">
    <h3>{{data[0].name}}</h3>
    <h3>{{data[0].surname}}</h3>
    <h3>{{data[0].age}}</h3>
  </div>
  <div id="workInfo">
    <mat-tab-group>
      <mat-tab label="Edukacja">Zero</mat-tab>
      <mat-tab label="Doświadczenie">Brak</mat-tab>
      <mat-tab label="Zainteresowania">Nic specjalnego</mat-tab>
      <mat-tab label="Kontakt">Nie mam telefonu</mat-tab>
    </mat-tab-group>
  </div>
</main>

<router-outlet/>

